opencv-python==3.4.18.65
shimmy==1.3.0
gymnasium==0.29.1
gym==0.26.2
stable-baselines3[extra]==2.3.2
teslapy==2.9.0
requests_oauthlib
websocket-client
ratelimit
pywebview
babel
python-dateutil
matplotlib
tabulate
pysolar
requests
torch
torchvision
torchaudio
webview==0.1.5
